/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  /* Navbar styles */
  .navbar {
    background-color: #b9a4a4;
    color: white;
    padding: 10px 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
  }
  
  /* Add more styles based on your specific design requirements */
  